
/* 
=========================== CSS ===============================
Para hacer una modificacion de CSS en la pagina web llamo la etiqueta y encierro en llaves.

*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;       /* Fuente tipografica (Tipo de letra)*/
}


/* HEADER */
header {
    background-color: #323538;
    padding-bottom: 30px;
}

.header-div {
    display: flex;
    margin: auto;
    align-content: center;
}

.header-h1 {
    display: flex;
    margin: auto;
    align-content: center;
    color: lightcyan;
}

.header-h2{
    display: block;
    margin: auto;
    color: lightcyan;
}


/* ASIDE */
aside {
    background-color: #0E0F0F;
    display: inline-block;
    width: 30%;
    height: 9000px;
    float: left;            /* Flotando a la izquierda*/     
}

.aside-section {
   display: inline-block; 
}

.aside-h3 {
    color: lightcyan;
}


/* SECTIONS */
.section-clara {
    background-color: #DFEBF7;
    display: inline-block;
    width: 70%;
    float: left;            /* Flotando a la izquierda*/ 
}

.section-oscura {
    background-color: #CAD5E0;
    display: inline-block;
    width: 70%;
    float: left;            /* Flotando a la izquierda*/ 
}


/* ARTICLES */
article {
    margin: 50px;
}


/* NAV */
.nav-menu {
    background-color: #222426;      /* Color de fondo */
    margin: 1px;        /* Margen externa a todos los 4 lados en pixeles*/
    padding: 0,8px;     /* Margen interna a los 4 lados en pixeles*/   
}

a:hover{
    color: lightcyan;
}

.nav-ul {
    display: inline-block;
}


.nav-li {
    display: inline-block;      /* Visualizacion en bloques de linea (Ordena o alinea a un lado)*/ 
    margin: 5px;
    padding-left: 5px;      /* Margen interna a la izquierda en pixeles*/
    padding-right: 5px;     /* Margen interna a la derecha en pixeles */
}

.li-aside {
    margin: 5px;
    padding-left: 5px;      
    padding-right: 5px;
}

.ul-buscar {
    display: inline-block;
}




a {
     color: rgb(187, 131, 57);         /* Color de la fuente (Color de letra)*/
}


/* H */
.h2-article {
    color: #5D57B3 ;
    margin-left: 15px;
    margin-right: 10px;
}


img {
    display: block;
    margin: auto;
}



.article-form {
    background-image: url("../img/contactenos.jpg");
    background-repeat: round;
    padding: 15px;
}

.input-form {
    display: inline-block;
}

.label-form {
    display: inline-block;
    color: cornsilk;

}


/* DIV */
.div-img-header {
    margin: 20px;
}

.div-form-label {
    display: inline-block;
    width: 220px;
    margin: 5px;
}

.div-form-input {
    display: inline-block;
    width: 400px;
    margin: 5px;
}


.footer-html {
    background-color: #EBEDF2;
    /* background-image: url("../img/fondo-oscuro.jpg"); */
    float: left;
    padding: 15px;
    width: 95%;
}

.img-icons {
    display: inline-block;
}

.h2-article {
    display: inline-block;
}


/* P */
.p-text-mini{
    color: lightcyan;
    size: 6;
    
}


li {
    /*
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    */
}


img {
    /*
    display: block;
    margin: auto;
    */
}












/*
.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 2em;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}
.menuCSS3 a:hover {
    background-color: #CC673B;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}
*/