
/* 
=========================== CSS ===============================
Para hacer una modificacion de CSS en la pagina web llamo la etiqueta y encierro en llaves.

*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;       /* Fuente tipografica (Tipo de letra)*/
}

/*Etiqueta nav */
nav {
    background-color: #EBEDF2;      /* Color de fondo */
    margin: 1px;        /* Margen externa a todos los 4 lados en pixeles*/
    padding: 0,8px;     /* Margen interna a los 4 lados en pixeles*/   
              
}

.ul-nav {
    display: inline-block;
}

.ul-buscar {
    display: inline-block;
}

/* Clase CSS (.) */
.li-nav {
    display: inline-block;      /* Visualizacion en bloques de linea (Ordena o alinea a un lado)*/ 
    margin: 5px;
    padding-left: 5px;      /* Margen interna a la izquierda en pixeles*/
    padding-right: 5px;     /* Margen interna a la derecha en pixeles */
}

.li-aside {
    margin: 5px;
    padding-left: 5px;      
    padding-right: 5px;
}

a {
     color: rgb(187, 131, 57);         /* Color de la fuente (Color de letra)*/
}

h2 {
    color: #5D57B3 ;
}

header {
    background-color: #EBEDF2;
    margin: 2px;
}

img {
    display: block;
    margin: auto;
}

aside {
    background-color: #EBEDF2;
    margin: 2px;
    display: inline-block;
    width: 30%;             /* Ancho */
    
    padding: 15px;
}

section {
    background-color: #EBEDF2;
    margin: 2px;
    display: inline-block;
    width: 62%;
    padding: 15px;
}

.article-form {
    background-image: url("../img/contactenos.jpg");
}

.input-form {
    display: inline-block;
}

.label-form {
    display: inline-block;
    color: cornsilk;

}

.div-form-label {
    display: inline-block;
    width: 220px;
}

.div-form-input {
    display: inline-block;
    width: 400px;
}



















li {
    /*
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    */
}


img {
    /*
    display: block;
    margin: auto;
    */
}












/*
.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 2em;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}
.menuCSS3 a:hover {
    background-color: #CC673B;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}
*/