
header {

    width: 100%;
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
    /*
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f5a73, #c471ed85, #12c2e97c);
    background: linear-gradient(to right, #f64f5a71, #c471ed7a, #12c2e979), url(../img/desing-web.jpg);
    */
    
    /*
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, rgba(44, 83, 100, 0.199), rgba(32, 58, 67, 0.205), rgba(15, 32, 39, 0.192));  
    background: linear-gradient(to right, rgba(44, 83, 100, 0.205), rgba(32, 58, 67, 0.192), rgba(15, 32, 39, 0.212)), url(../img/desing-web.jpg);
    */

    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(236, 47, 75, 0.253), rgba(0, 157, 255, 0.212));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(236, 47, 75, 0.247), rgba(0, 157, 255, 0.274)), url(../img/desing-web.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.img-logo {
    margin: 10px;
}


.textos-header-h2 {
    display: flex;
    margin-top: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Notable', sans-serif;
    font-size: 50px;
    color: white;
}

.textos-header-h4 {
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Frijole', cursive;
    font-size: 20px;
    color: white;
}

.div-header-button {
    width: 100%;
}

.button-header {
    display: flex;
    width: 100%;
    margin: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

